{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "useTabs": false,
  "pluginSearchDirs": ["./node_modules"],
  "plugins": ["prettier-plugin-organize-imports"]
}
