@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #3c3c3c;
  --base-background-color: #fefefe;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #000000;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  /*background: var(--base-background-color);*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}

.body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: var(--base-background-color);
}

@media only screen and (max-width: 768px) {
  .body {
    margin-left: 0;
    margin-right: 0;
  }
}

