@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #3c3c3c;
  --base-background-color: #ffffff;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #000000;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply text-black bg-white min-h-screen flex flex-col justify-between;
  }
  main {
    @apply bg-white mx-52 mb-9 md:mx-12 sm:mx-2.5;
  }
  h1 {
    @apply text-4xl font-semibold  sm:text-3xl;
  }
  h2 {
    @apply text-2xl font-semibold  sm:text-xl;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  button {
    @apply btn bg-fi-300;
  }
}

@layer components {
  .card {
    @apply shrink-0 w-full max-w-sm shadow-2xl bg-base-100;
  }
  .hero {
    @apply bg-white min-h-max;
  }
  .custom-carousel {
    position: relative;

    width: 99.5vw;
    /*width: auto;*/
    left: calc(-50vw + 50%);
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 500px;*/
  }
  .hero-title {
    @apply text-5xl font-semibold sm:text-4xl;
  }
  .divider {
    @apply w-96 sm:w-52 h-1 mx-auto my-4 bg-fi-300 border-0 rounded md:my-10

  }
  .page {
    @apply mt-9
  }
}
