@import 'tailwindcss';

@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@plugin "daisyui";

@theme {
  --color-muni: #0000DC;
  --color-black: #000000;
  --color-white: #fcfcfc;
  --color-fi-100: #F3E9A3;
  --color-fi-200: #F2DE7F;
  --color-fi-300: #F2D45C;

  /*--background-ima*/
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility card {
  @apply shrink-0 w-full max-w-sm shadow-2xl bg-base-100 dark:bg-base-300;
}

@utility btn {
  @apply text-black bg-fi-300;
}

@utility badge {
  @apply text-black;
}

@utility hero {
  @apply bg-white dark:bg-base-100  min-h-max;
}

@utility banner {
  position: relative;
  width: 99.5vw;
  left: calc(-50vw + 50%);
}

@utility content {
  @apply px-4;
}

@utility hero-title {
  @apply md:text-5xl font-semibold sm:text-4xl;
}

@utility page {
  @apply mt-9;
}

@utility data-display {
  @apply shadow-md rounded-none bg-base-100 dark:bg-base-200 ;
}

@utility label-text {
  @apply pb-1;
}

@layer base {
  body {
    @apply bg-white dark:bg-base-100 min-h-screen grid grid-rows-[min-content_1fr_min-content] grid-cols-1;
  }
  main {
    @apply bg-white dark:bg-base-100 mb-9 mx-2.5 md:mx-12 xl:mx-52;
  }
  section {
    @apply mt-9
  }
  h1 {
    @apply font-semibold text-3xl md:text-4xl;
  }
  h2 {
    @apply font-semibold text-xl md:text-2xl;
  }
  h3 {
    @apply font-semibold text-lg;
  }
  hr {
    @apply w-52 md:w-96 h-1 mx-auto my-3 border-0 rounded-sm bg-fi-300
  }
  textarea {
    @apply textarea w-full
  }
  input {
    @apply input w-full
  }
}
